In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',names=['sep_len','sep_width','pet_len','pet_width','Class'])

In [27]:
df.head()

   sep_len  sep_width  pet_len  pet_width        Class
0      5.1        3.5      1.4        0.2  Iris-setosa
1      4.9        3.0      1.4        0.2  Iris-setosa
2      4.7        3.2      1.3        0.2  Iris-setosa
3      4.6        3.1      1.5        0.2  Iris-setosa
4      5.0        3.6      1.4        0.2  Iris-setosa

In [28]:
from sklearn import preprocessing
#creating labelEncoder
labelEncoder = preprocessing.LabelEncoder()

In [29]:
df["Class"]=labelEncoder.fit_transform(df["Class"])

In [30]:
df.head()

   sep_len  sep_width  pet_len  pet_width  Class
0      5.1        3.5      1.4        0.2      0
1      4.9        3.0      1.4        0.2      0
2      4.7        3.2      1.3        0.2      0
3      4.6        3.1      1.5        0.2      0
4      5.0        3.6      1.4        0.2      0

In [31]:
df.Class.unique()

array([0, 1, 2])

In [32]:
y=df.Class

In [33]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int32

In [34]:
X=df.drop(["Class"],axis=1)

In [35]:
X.head()

   sep_len  sep_width  pet_len  pet_width
0      5.1        3.5      1.4        0.2
1      4.9        3.0      1.4        0.2
2      4.7        3.2      1.3        0.2
3      4.6        3.1      1.5        0.2
4      5.0        3.6      1.4        0.2

In [36]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [37]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()

In [38]:
model.fit(X_train,y_train)

MultinomialNB()

In [39]:
model.score(X_test,y_test)

0.9473684210526315

In [40]:
from sklearn.metrics import classification_report,confusion_matrix

In [41]:
pre=model.predict(X_test)

In [42]:
confusion_matrix(pre,y_test)

array([[14,  0,  0],
       [ 0, 11,  1],
       [ 0,  1, 11]], dtype=int64)

In [43]:
len(df)

150

In [44]:
len(y_test)

38

In [46]:
print(classification_report(pre,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        14
           1       0.92      0.92      0.92        12
           2       0.92      0.92      0.92        12

    accuracy                           0.95        38
   macro avg       0.94      0.94      0.94        38
weighted avg       0.95      0.95      0.95        38

In [ ]:
good=0
bad=0
for i in range(38):
    if(pre[i]==y_test.iloc[i]):
        good+=1
    else:
        bad+=1
        
print(good)
print(bad)